/*****
shadowshapes.com - Roderick Constance
CSS by Roderick Constance, 2011
*****/

/***** Reset *****/

html, body, div, h1, h2, h3, h4, h5, h6, dl, dt, dd, p, blockquote, pre, form, fieldset, table, th, td {
    margin: 0;
    padding: 0;
}

* { outline: none; }

/***** Basic Elements *****/

html {}

body {
    background-color: #222222;
    color: #DDDDDD;
}

/***** Basic Layout *****/

#left {
    left: 0px;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    width: 260px;
}

#nav {
    height: 440px;
    width: 240px;
    padding: 0px 10px 0px 10px;
    background: url("../images/main/tag.png") no-repeat center top;
}

#copyright {
    padding: 10px 10px 10px 10px;
} 

#right {
    margin: 0px 0px 0px 260px;
    padding: 0;
    top: 0px;
}

#leftarrow {
}

#rightarrow {
}

.arrow {
    float: left;
    width: 40px;
    height: 120px;
    background-color: #666;
    position: relative;
    z-index: 1;
    }

#scroll {
    height: 120px;
    left: 0px;
    position: relative;
    /*width: 800px;*/
    overflow: visible;
}

#gate {
    height: 120px;
    float: left;
    overflow: hidden;
}

#thumbs {
    height: 120px;
    overflow: visible;
    position: relative;
    /*width: 0px;*/
    white-space: nowrap;
    float: left;
}

#content {
    position: relative;
    clear: both;
}

#loader {
}

.fadeMe {
}
    
.loading {
    height: 35px;
    margin: 20px;
    width: 35px;
    background: url("../images/main/ajax-loader.gif") no-repeat center center;
}

.loaded {
    background-color: #DDDDDD;
    padding: 6px; 
}

.img-thumbs {
    vertical-align: top;
}
    
a.thumbs:link {text-decoration: none; border-bottom: none; color: #222222; }
a.thumbs:active {text-decoration: none; border-bottom: none; color: #222222; }
a.thumbs:visited {text-decoration: none; border-bottom: none; color: #222222; }
a.thumbs:hover {text-decoration: none; border-bottom: none; color: #DDDDDD; }

.hidden { display: none; }
.visible { display: inline-block;}
