/*****
shadowshapes.com - Roderick Constance
CSS by Roderick Constance, 2011
*****/

/***** Reset *****/

html, body, div, h1, h2, h3, h4, h5, h6, dl, dt, dd, p, blockquote, pre, form, fieldset, table, th, td {
    margin: 0;
    padding: 0;
}

* { outline: none; }

/***** Basic Elements *****/

html {}

body {
    background-image: url("../images/main/crosshatch.gif");
    background-color: #222222;
    color: #222222;
    /*font-family: 'Calluna', 'Lucida Sans', 'Optima', 'Georgia', 'Arial', sans-serif; */
    font-size: 0.80em;  /* 1em = 16pt. */
}

html, body { height: 100%;} /* hack for full background

/***** Custom Fonts *****/

/* Calluna */

@font-face {
    font-family: "Hortensia";
    font-weight: 400;
    src: url(../fonts/Hortensia/Hortensia.eot);
    src: local('☺'), url("../fonts/Hortensia/Hortensia.otf") format("opentype");
}

@font-face {
    font-family: "Calluna";
    font-weight: 300;
    src: url(../fonts/Calluna/Calluna-Light.eot);
    src: local('☺'), url("../fonts/Calluna/Calluna-Light.otf") format("opentype");
}

@font-face {
    font-family: "Calluna";
    font-weight: 400;
    src: url(../fonts/Calluna/Calluna-Regular.eot); 
    src: local('☺'), url("../fonts/Calluna/Calluna-Regular.otf") format("opentype");
}

@font-face {
    font-family: "Calluna";
    font-weight: 400;
    font-style: italic;
    src: url(../fonts/Calluna/Calluna-It.eot);
    src: local('☺'), url("../fonts/Calluna/Calluna-It.otf") format("opentype");
}

@font-face {
    font-family: "Calluna";
    font-weight: 500;
    src: url(../fonts/Calluna/Calluna-Semibold.eot);
    src: local('☺'), url("../fonts/Calluna/Calluna-Semibold.otf") format("opentype");
}

@font-face {
    font-family: "Calluna";
    font-weight: 500;
    font-style: italic;
    src: url(../fonts/Calluna/Calluna-SemiboldIt.eot);
    src: local('☺'), url("../fonts/Calluna/Calluna-SemiboldIt.otf") format("opentype");
}

@font-face {
    font-family: "Calluna";
    font-weight: 600;
    src: url(../fonts/Calluna/Calluna-Bold.eot);
    src: local('☺'), url("../fonts/Calluna/Calluna-Bold.otf") format("opentype");
}

@font-face {
    font-family: "Calluna";
    font-weight: 600;
    font-style: italic;
    src: url(../fonts/Calluna/Calluna-BoldIt.eot);
    src: local('☺'), url("../fonts/Calluna/Calluna-BoldIt.otf") format("opentype");
}

@font-face {
    font-family: "Calluna";
    font-weight: 700;
    src: url(../fonts/Calluna/Calluna-Black.eot);
    src: local('☺'), url("../fonts/Calluna/Calluna-Black.otf") format("opentype");
}


/* Oxtail */

/*
@font-face {
    font-family: "Oxtail";
    font-weight: 400;
    src: url("../fonts/Oxtail/Oxtail.otf") format("opentype");
}

@font-face {
    font-family: "Oxtail";
    font-weight: 400;
    font-style: italic;
    src: url("../fonts/Oxtail/Oxtail-Italic.otf") format("opentype");
}

@font-face {
    font-family: "Oxtail";
    font-weight: 600;
    src: url("../fonts/Oxtail/Oxtail-Bold.otf") format("opentype");
}

@font-face {
    font-family: "Oxtail";
    font-weight: 600;
    font-style: italic;
    src: url("../fonts/Oxtail/Oxtail-BoldItalic.otf") format("opentype");
}

@font-face {
    font-family: "Oxtail";
    font-weight: 700;
    src: url("../fonts/Oxtail/Oxtail-Black.otf") format("opentype");
}

@font-face {
    font-family: "Oxtail";
    font-weight: 700;
    font-style: italic;
    src: url("../fonts/Oxtail/Oxtail-BlackItalic.otf") format("opentype");
}
*/

/***** Basic Layout *****/

#window { /* full browser window */
    min-height: 100%;
    overflow: visible;
    width: 100%;
}

#left {
    left: 0px;
    margin: 0;
    padding: 0 0 0 20px;
    position: absolute;
    top: 0;
    width: 240px;
}

#nav {
    height: 620px;
    width: 240px;
    padding: 0px 0px 0px 0px;
    background: url("../images/main/oldcrow.png") no-repeat center top;
}

#header {
    padding: 20px 0 0 0;
    font-family: "Hortensia";
    text-align: center;
    font-size: 28px;
    color: #e0d8c8;
}

#menu {
    padding: 50px 0 0 0;
    font-family: "Calluna"; /* active */
    width: 200px;
    margin-left: auto;
    margin-right: auto;
}

#caption {
    padding: 20px 0 0 0;
    margin-left: 40px;
    margin-right: 20px;
    font-family: "Calluna"; /* active */
    font-weight: 400;
    font-size: 12px;
}

#copyright {
    padding: 12px 0 0 0;
    text-align: center;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    color: #e0d8c8;
} 

#right {
    padding: 0 0 0 0;
    left: 270px;
    top: 0px;
    overflow: hidden;
    position: absolute;
}

#info {
}

#welcome {
    font-family: "Calluna"; /* active */
    font-weight: 700;
    font-size: 40px;
    padding: 10px 0 0 0px;
    margin: 0 0 0 40px;

}

#contact {
    background-color: #e0d8c8;
    padding: 10px 0 0 20px;
    margin: 0 0 0 40px;
    width: 400px;
    height: 200px;
    font-family: "Calluna"; /* active */
    font-weight: 400;
    font-size: 14px;
}

#about {
    background-color: #e0d8c8;
    padding: 10px 0 0 20px;
    margin: 0 0 0 40px;
    width: 400px;
    height: 200px;
    font-family: "Calluna"; /* active */
    font-weight: 400;
    font-size: 14px;
    display: table;
}

#about-text {
    display: table-cell;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 10px 10px 10px;
    vertical-align: top;
}

#about-img {
    display: table-cell;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 10px 10px 10px;
    vertical-align: top;
}

#iconrow {
    padding: 20px 0 0 0;
}

#scroll {
    height: 120px;
    left: 0px;
    position: relative;
    /*width: 800px;*/
    overflow: visible;
    padding: 10px 0 0 0;
}

div.centerfloat {
    float: left;
    width: 40px;
    height: 100px;
    position: relative;
    z-index: 1;
    text-align: center;
    display: table;
}

div.arrow {
    display: table-cell;
    vertical-align: middle;
}

#gate {
    height: 110px;
    float: left;
    overflow: hidden;
}

#thumbs {
    height: 120px;
    overflow: visible;
    position: relative;
    /*width: 0px;*/
    white-space: nowrap;
    float: left;
}

#content {
    position: relative;
    clear: both;
}

/*=====*/

/* left */

a.nav:link { text-decoration: none; border-bottom: none; color: #222222; }
a.nav:active { text-decoration: none; border-bottom: none; color: #ff0000; }
a.nav:visited { text-decoration: none; border-bottom: none; color: #222222; }
a.nav:hover { text-decoration: none; border-bottom: none; color: #ebb45c; }

a.caption:link { border-bottom: none; color: #ed5c5c; }
a.caption:active { border-bottom: none; color: #ff0000; }
a.caption:visited { border-bottom: none; color: #222222; }
a.caption:hover { border-bottom: none; color: #555555; }

a.highlight:link { color: #b14a4a; }
a.highlight:active { color: #b14a4a; }
a.highlight:visited { color: #b14a4a; }
a.highlight:hover { color: #b14a4a; }

a.invis:link { text-decoration: none; color: #e0d8c8; }
a.invis:active { text-decoration: none; color: #e0d8c8; }
a.invis:visited { text-decoration: none; color: #e0d8c8; }
a.invis:hover { text-decoration: none; color: #e0d8c8; }


img.contact {
    border: none;
}

hr.dot {
    border: 1px dotted;
    width: 100%;
}
    
hr.dash {
    border: 1px dashed;
    width: 100%;
}

p.welcome {
    color: #e2ddd2;
}

p.menu {
    font-family: "Calluna"; /* active */
    font-style: italic;
    font-size: 14px;
    font-weight: 500;
    line-height: 100%;
    text-indent: 10px;
}

p.menusub {
    font-family: "Calluna"; /* active */
    font-style: italic;
    font-weight: 400;
    line-height: 100%;
    text-indent: 20px;
    font-size: 14px;
}

span.soon {
    font-size: 12px;
    font-style: italic;
    font-weight: 300;
}

p.title { /* caption title */
    font-family: "Calluna"; /* active */
    font-style: italic;
}

p.caption {
    font-family: "Calluna"; /* active */ 
    font-weight: 400;
    font-size: 12px;
}

#spinner {
    text-align: center;
}

img.spinner {
    vertical-align: middle;
}

p.copyright {
    font-family: "Calluna"; /* active */
    font-weight: 400;
    font-size: 12px;
}

span.copyrightdate {
    font-size: 16px;
}

/* right */

a.thumbs:link { color: #222222; }
a.thumbs:active { color: #222222; }
a.thumbs:visited { color: #222222; }
a.thumbs:hover { color: #DDDDDD; }

a.info:link { text-decoration: none; color: #222222; }
a.info:active { text-decoration: none; color: #ff0000; }
a.info:visited { text-decoration: none; color: #222222; }
a.info:hover { text-decoration: none; color: #555555; }

img.arrows {
    height: 80px;
    width: 30px;
    opacity: 0;
    filter: alpha(opacity=0); /* stupid IE */
}

p.phone {
    font-family: "Calluna"; /* active */
    font-weight: 700;
    font-size: 20px;
}

.img-thumbs {
    vertical-align: top;
}

#loader {
    margin: 10px 0 0 40px;
}

.loaded {
    background-color: #DDDDDD;
    padding: 6px; 
}

.fadeMe {
}

/* general */

.hidden { display: none; }
.visible { display: inline-block;}
